@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply font-bold text-xl mx-3;
  }
  .btn {
    @apply px-3 py-2 text-sm font-medium rounded-md shadow-md cursor-pointer;
  }
  .btn-header-nav {
    @apply bg-yellow-400 hover:bg-yellow-300 md:mx-3 md:inline-block md:my-0 my-3;
  }
  .container {
    @apply p-3 text-center mx-auto;
  }
}

@layer utilities {
  .scroll-snap-none {
    scroll-snap-type: none;
  }
  .scroll-snap-x-mandatory {
    scroll-snap-type: x mandatory;
  }
  .scroll-snap-y-mandatory {
    scroll-snap-type: y mandatory;
  }
  .scroll-snap-x-proximity {
    scroll-snap-type: x proximity;
  }
  .scroll-snap-y-proximity {
    scroll-snap-type: y proximity;
  }
  .scroll-snap-y {
    scroll-snap-type: y;
  }
  .h-screen-half {
    height: 50vh;
  }
  .w-screen-half {
    width: 50vw;
  }
  .h-screen-80 {
    height: 80vh;
  }
  .w-screen-80 {
    width: 80vw;
  }
  .h-screen-70 {
    height: 70vh;
  }
  .w-screen-70 {
    width: 70vw;
  }
}
